$primary: #000000;
$primary-color: #000000;
$primary-bg-color: #FFFFFF;

$primary-text-color: #252B42;
$primary-text-light: #FFFFFF;

$primary-border-color: #000000;
$primary-border-light: #FFFFFF;

$secondary-text-color: #737373;

$text-size-label: 14px;

$font-stack: Helvetica,
sans-serif;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import './form-control';
@import './auth';
@import './profile';
@import './torleado';


